{% extends "base.html" %}

{% block content %}
    <section class="min-h-screen flex items-center justify-center bg-white px-4">
        <div class="max-w-xl p-8 text-center space-y-4">

            <h1 class="text-2xl font-bold text-gray-900">
                Лабораторна робота №11
            </h1>

            <p class="text-gray-700">
                Проєкт створений з використанням веб-фреймворка Flask
            </p>

            <p class="text-gray-700">
                Cайт музичного гурту Metallica
            </p>

            <p class="text-sm text-gray-500 pt-4">
                Студент групи ІПЗ-24-3 - Крамар Денис
            </p>

        </div>
    </section>
{% endblock %}
