{% extends "base.html" %}

{% block title %}Альбоми{% endblock %}

{% block content %}
<section class="min-h-screen bg-gray-100 px-6 py-16">
  <div class="max-w-6xl mx-auto flex flex-col gap-10">

    <div class="flex justify-between items-center">
      <h1 class="text-4xl font-bold text-gray-900">
        Альбоми Metallica
      </h1>

      <a
         class="px-4 py-2 bg-black text-white rounded hover:bg-gray-800 transition">
        Додати альбом
      </a>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <div class="bg-white rounded-lg shadow p-6 flex flex-col gap-4">
        <h2 class="text-xl font-bold">Kill ’Em All</h2>
        <p class="text-sm text-gray-600">1983</p>

        <div class="mt-auto flex justify-between items-center">
          <a
             class="text-sm text-blue-600 hover:underline">
            Переглянути
          </a>

          <div class="flex gap-2 text-sm">
            <a
               class="text-gray-600 hover:text-black">
              Редагувати
            </a>
            <a
               class="text-red-600 hover:underline">
              Видалити
            </a>
          </div>
        </div>
      </div>

     <div class="bg-white rounded-lg shadow p-6 flex flex-col gap-4">
        <h2 class="text-xl font-bold">Kill ’Em All</h2>
        <p class="text-sm text-gray-600">1983</p>

        <div class="mt-auto flex justify-between items-center">
          <a
             class="text-sm text-blue-600 hover:underline">
            Переглянути
          </a>

          <div class="flex gap-2 text-sm">
            <a
               class="text-gray-600 hover:text-black">
              Редагувати
            </a>
            <a
               class="text-red-600 hover:underline">
              Видалити
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
