<div class="bg-white rounded-lg shadow p-6 flex flex-col gap-4">
    <h2 class="text-xl font-bold">{{ album['name'] }}</h2>
    <p class="text-sm text-gray-600">{{ album['year'] }}</p>

    <div class="mt-auto flex justify-between items-center">
        <a
                href="{{ url_for('album_id', id=album.id) }}"
                class="text-sm text-blue-600 hover:underline">
            Переглянути
        </a>

        <div class="flex gap-2 text-sm">
            <a
                    href="{{ url_for('album_edit_get', id=album.id) }}"
                    class="text-gray-600 hover:text-black">
                Редагувати
            </a>
            <form
                    method="post"
                    action="{{ url_for('album_delete', id=album.id) }}"
                    onsubmit="return confirm('Ви точно хочете видалити цей альбом?')">

                <button
                        type="submit"
                        class="text-red-600 hover:underline text-sm">
                    Видалити
                </button>
            </form>
        </div>
    </div>
</div>