{% extends "base.html" %}

{% block title %}Альбоми{% endblock %}

{% block content %}
<section class="min-h-screen bg-gray-100 px-6 py-16">
  <div class="max-w-6xl mx-auto flex flex-col gap-10">

    <div class="flex justify-between items-center">
      <h1 class="text-4xl font-bold text-gray-900">
        Альбоми Metallica
      </h1>

      <a
         class="px-4 py-2 bg-black text-white rounded hover:bg-gray-800 transition">
        Додати альбом
      </a>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {% for album in albums %}
            {% include "albumCard.html" %}
        {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
