<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base site</title>
</head>
<body>
<div class="w-full h-[50px] fixed top-0">
    <div class="w-full h-[50px] fixed top-0 z-50">
        <div class="w-full h-full flex items-center justify-end gap-4 px-4 text-black bg-white">

            <a href="/" class="rounded-md x-4 p-2 hover:bg-gray-100">Головна</a>
            <a href="{{ url_for('history') }}" class="rounded-md x-4 p-2 hover:bg-gray-100">Історія гурту</a>
            <a href="{{ url_for('albums') }}" class="rounded-md x-4 p-2 hover:bg-gray-100">Альбоми</a>
            <a href="{{ url_for('about') }}" class="rounded-md x-4 p-2 hover:bg-gray-100">Про проект</a>

            {% if current_user_id %}
                <form method="post" action="{{ url_for('logout_post') }}" class="flex flex-col items-center justify-center">
                  <button class="rounded-md px-4 p-2 text-red-600 hover:bg-gray-100">
                    Вийти
                  </button>
                </form>
              {% else %}
                <a href="{{ url_for('login_get') }}" class="rounded-md px-4 p-2 hover:bg-gray-100">
                  Логін
                </a>
                <a href="{{ url_for('register_get') }}" class="rounded-md px-4 p-2 hover:bg-gray-100">
                  Реєстрація
                </a>
              {% endif %}
        </div>
    </div>
</div>

{% if alert %}
<script>
  alert("{{ alert }}");
</script>
{% endif %}

<div class="mt-4 bg-black">
    {% block content %}
    {% endblock %}
</div>

{% block scripts %}{% endblock %}
<script src="https://cdn.tailwindcss.com"></script>

</body>
</html>